{% extends "::baseAdmin.html.twig" %}

{% block body %}


	<div class="section section-breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Licences</h1>
              </div>
            </div>
          </div>
        </div>


	<div class="section">
	        <div class="container">
			<h2> Créer une licence</h2>
	        	<p>Merci de remplir les informations ci-dessous pour créeer une nouvelle licence. </p>
				<p>{{ form(form)}}</p>
	        </div>
	    </div>
	    

		

		
		










	
{% endblock %}