{% extends "::baseAdmin.html.twig" %}

{% block body %}

    <div class="section section-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="calltoaction-wrapper">
							<h3>Modification état d'inscription joueur</h3> 
                             <p>{{ form(form)}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>







	
{% endblock %}
