{% extends "::baseAdmin.html.twig" %}

{% block body %}

	<div class="section section-breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Licences</h1>
              </div>
            </div>
          </div>
        </div>

	<div class="section">
	        <div class="container">
			<h2> Voulez vous supprimer le fichier {{fichier.name}} ?</h2>
	        <li><a href="{{ path('admin_suppressionEnCoursUploadLicence', {'id':fichier.id}) }}" class="btn">OUI</a></li><br>
			<li><a href="{{ path('admin_gererUploadLicence')}}" class="btn">NON</a></li>
	        </div>
	    </div>
	    

		














	
{% endblock %}