
<div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="basic-login">

							<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
								{{ form_widget(form) }}
								<div>
									<input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
								</div>
							</form>
						</div>
					</div>
			</div>
		</div>
 </div>
