{% extends "::baseJoueur.html.twig" %}

{% block body %}


      <div class="section section-breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Contact</h1>
              </div>
            </div>
          </div>
        </div>


	
		<div class="section">
          <div class="container">
            <h2>Contact pour les inscriptions au badminton club d'oullins</h2>
            <p>
              Vous pouvez contacter : <br>
              nom : <br>
              Prenom :<br>
              Adresse email : <br>
              Numéro de téléphone :<br>
            
            <br><br><br><br><br><br>
            
            </p>
   

                </div>
              </div>










	
{% endblock %}
