{% extends "::baseJoueur.html.twig" %}

{% block body %}


      <div class="section section-breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Accueil</h1>
              </div>
            </div>
          </div>
        </div>


	    <div class="section section-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="calltoaction-wrapper">
							<h3>Bienvenue {{ app.user.prenom }} {{ app.user.nom }} </h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="section">
          <div class="container">
            <h2>Explication du site</h2>
            <p>bla bla blaaaa.....</p>
            <br><br><br><br><br><br><br> <br><br><br><br><br><br><br> <br><br><br><br><br><br><br> <br><br><br><br><br><br><br>

            <h2>Explication de l'inscription licence</h2>
            <p>bla bla blaaaa.....</p>
            <br><br><br><br><br><br><br> <br><br><br><br><br><br><br> <br><br><br><br><br><br><br> <br><br><br><br><br><br><br>

                </div>
              </div>










	
{% endblock %}
