{% extends "::baseJoueur.html.twig" %}

{% block body %}

	<div class="section section-breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Nous avons bien recu l'inscription: </h1>
              </div>
            </div>
          </div>
        </div>


		
		<div class="container">
				<div class="row">
					<h2> demande de licence ok </h2>

							<div class="col-md-4 col-sm-6">
								<p> Nous avons bien pris en compte votre de demande de licence.
								Merci de founir les docuemnts en cliquand sur documents en haut ou de les founir en version papier.</p>
						
						</div>			
					</div>
				</div>


							















	
{% endblock %}