{% extends "::baseJoueur.html.twig" %}

{% block body %}


	   
		<div class="section">
          <div class="container">
            <h2>Modification de vos données personnelles :</h2>
            <div class="row">
              <p>
                  {{form(form)}}
              </p>
            </div>
          </div>
      </div>











	
{% endblock %}
