{% extends "::baseNoLog.html.twig" %}

{% block body %}
<div class="section">
	    	<div class="container">
	    	<h1> Réinitialisation du mot de passe</h1>	
				<p><p> Un mot de passe vous a été envoyé sur votre boite de messagerie.</p></p>
			</div>
</div>

{% endblock %}
