{% extends "::baseNoLog.html.twig" %}

{% block body %}
<div class="section">
	    	<div class="container">
	    	<h1> Réinitialisation du mot de passe</h1>	
				<p>Vous avez déja fait une demande de réinitialisation de mot de passe, veuillez regarder dans votre boite de messagerie.</p>
			</div>
</div>

{% endblock body %}
